/*=======
  RESET
=========*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

/*=======
  GENERAL
=========*/

body {
	font-size: .9375rem;
	font-family: "Spartan", sans-serif;
	padding: 4.5rem 1.2rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

p {
	line-height: 175%;
}

/* ======================
 BACKGROUND DECORATIONS
 ====================== */

body::before, body::after {
	content: '';
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

body::before {
	background-image: url("images/bg-pattern-top-mobile.svg");
	background-position: top left;
	top: 0;
}

body::after {
	content: '';
	background-image: url("images/bg-pattern-bottom-mobile.svg");
	background-position: bottom right;
	bottom: 0;
}

/*=======
  HEADER
=========*/

.component__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.component__heading, .component__description {
	text-align: center;
}

.component__heading {
	color: hsl(300, 43%, 22%);
	width: 80%;
}

.component__description {
	color: hsl(303, 10%, 53%);
	margin: 1.5rem 0;
}


/*========
  RATINGS
=========*/

.component__rating-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1.5rem;
}


.component__rating {
	list-style: none;
	width: 100%;
	background-color: hsl(300, 24%, 96%);
	padding: 1rem;
	margin: .5rem;
	border-radius: 10px;
}

.component__stars-container {
	display: flex;
	justify-content: center;
	margin-bottom: .8rem;
}

.component__star {
	background-image: url("images/icon-star.svg");
	width: 1rem;
	height: 1rem;
	margin-right: .5rem;
}

.component__rating-description {
	font-weight: 700;
	color: hsl(300, 43%, 22%);
	text-align: center;
}

/*========
  REVIEWS
=========*/

.component__review-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.component__review {
	display: flex;
	flex-direction: column-reverse;
	background-color: hsl(300, 43%, 22%);
	margin: .5rem 0;
	padding: 2.3rem;
	border-radius: 10px;
}

.component__review-name, .component__review-quote {
	color: hsl(0, 0%, 100%);
}

.component__review-quote::before {
	content: '\201C';
}
.component__review-quote::after {
	content: '\201D';
}

.component__review-name {
	font-size: .9375rem;
	display: block;
	margin-bottom: .2rem;
	font-weight: 700;
}

.component__review-buyer {
	color: hsl(333, 80%, 67%)
}

.component__review-profile {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
}

.component__profile-photo {
	border-radius: 50%;
	width: 2.5rem;
	margin-right: 1.4rem;
}

/*=========
  DESKTOP
==========*/

@media screen and (min-width: 700px) {

	/*======
	  BODY
	========*/
	body {
		margin: 0;
		padding: 8%;
	}

	body::before {
		background-image: url("images/bg-pattern-top-desktop.svg");
	}

	body::after {
		background-image: url("images/bg-pattern-bottom-desktop.svg");
	}

	/*================
	  COMPONENT LAYOUT
	===================*/

	.component-grid {
		display: grid;
		grid-template-rows: .4fr .6fr;
		grid-template-columns: .4fr .6fr;
		column-gap: 5rem;
	}

	.component-grid__item--large {
		grid-column: span 2;
	}

	/*==========
	  HEADER
	============*/

	.component__header {
		justify-content: flex-start;
		align-items: flex-start;
	}

	.component__heading, .component__description {
		text-align: left;
	}

	.component__heading {
		font-size: 3rem;
		width: 100%;
	}

	/*==============
	  REVIEWS
	===============*/

	.component__review-container {
		flex-direction: row;
		gap: 2rem;
	}

	.component__review {
		margin: 0;
	}

	.component__review--middle {
		margin-top: 3rem;
	}

	.component__review--last {
		margin-top: 6rem;
	}

	/*==============
	  RATINGS
	===============*/

	.component__rating-container {
		align-items: flex-start;
	}

	.component__rating {
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 70%;
	}

	.component__rating--middle {
		margin-left: 4rem;
	}
	.component__rating--last {
		margin-left: 8rem;
	}
	.component__stars-container {
		margin-bottom: 0;
		padding-left: 1.2rem;
	}
}

